@model MvcWedBanDungCuHocTap.Models.ChangePasswordModel
@{
    Layout = null;
}
<div class="container">
  <div class="row" style="display: flex;justify-content:center;">
    <div class="login-form__image">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
    <div class="col-md-6 center-block">
      <h3>Đổi Mật Khẩu</h3>
      <form asp-action="ChangePass" method="POST">
        <div class="form-group">
          <label>Current Password*</label>
          <input style="margin: 4px;border:0.5px solid #222; width: 100%; height: 20px"  
            type="password"
            class="form-control"
            asp-for="CurrentPassword"
          />
          <span class="text-danger" style="color:red;" asp-validation-for="CurrentPassword"></span>
        </div>

        <div class="form-group">
          <label>New Password*</label>
          <input style="margin: 4px;border:0.5px solid #222; width: 100%; height: 20px"   type="password" class="form-control" asp-for="NewPassword" />
          <span class="text-danger" style="color:red;" asp-validation-for="NewPassword"></span>
        </div>

        <div class="form-group">
          <label>Confirm New Password*</label>
          <input style="margin: 4px;border:0.5px solid #222; width: 100%; height: 20px"  
            type="password"
            class="form-control"
            asp-for="PasswordConfirm"
          />
          <span class="text-danger" style="color:red;" asp-validation-for="PasswordConfirm"></span>
        </div>
        @if (TempData["msg"] != null)
        {
          <div class="form-group">
            <span style="color:green;" class="text-info">@TempData["msg"]</span>
          </div>
        }

        <button type="submit" class="btn btn-info">Save</button>
      </form>
    </div>
  </div>
</div>
