@{
    ViewData["Title"] = "Shop Page";
    var listSp = ViewBag.ListSp; // Thay YourProductType bằng kiểu dữ liệu sản phẩm của bạn
    var totalProducts = listSp?.Count ?? 0;
    var itemsPerPage = 9;
    var totalPages = (int)Math.Ceiling((double)totalProducts / itemsPerPage);
}
<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-lg-3 col-md-12">
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Bộ lọc giá</h5>
                <form action="/Home/ShopFilter" method="post">
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" name="priceFilter" value="all" id="price-all"
                            checked>
                        <label class="custom-control-label" for="price-all">Tất cả giá</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" name="priceFilter" value="1" id="price-1">
                        <label class="custom-control-label" for="price-1">0 Vnd - 50.000 Vnd</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" name="priceFilter" value="2" id="price-2">
                        <label class="custom-control-label" for="price-2">50.000 Vnd - 200.000 Vnd</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" name="priceFilter" value="3" id="price-3">
                        <label class="custom-control-label" for="price-3">200.000 Vnd - 500.000 Vnd</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" name="priceFilter" value="4" id="price-4">
                        <label class="custom-control-label" for="price-4">500.000 Vnd trở lên</label>
                    </div>
                    <button type="submit" class="btn_filter">Lọc</button>
                </form>
            </div>
        </div>
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <form action="/Home/ShopSearch" method="post">
                            <div class="input-group">
                                <input type="text" class="form-control" name="keysearch"
                                    placeholder="Tìm kiếm sản phẩm">
                                <div class="input-group-append">
                                    <button type="submit" class="input-group-text bg-transparent text-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                @foreach (var item in ViewBag.ListSp)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div
                                class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <img class="img-fluid img-item-product w-100" src="~/@item.HinhAnh.HinhAnhSP"
                                    alt="hình ảnh sản phẩm">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">@item.SanPham.TenSP</h6>
                                <div class="d-flex justify-content-center">
                                    <h6>@item.SanPham.GiaBan.ToString("N0") VND</h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="/Home/Detail/@item.SanPham.Id" class="btn btn-sm text-dark p-0">
                                    <i class="fas fa-eye text-primary mr-1"></i>
                                    Xem chi tiết
                                </a>
                                <a href="/Home/AddCart/@item.SanPham.Id" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-shopping-cart text-primary mr-1"></i>
                                    Thêm vào giỏ hàng
                                </a>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-12 pb-1">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center mb-3">
                            @if (ViewBag.CurrentPage == 1)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="/Home/Shop?p=@(ViewBag.CurrentPage)" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="/Home/Shop?p=@(ViewBag.CurrentPage - 1)"
                                        aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            }
                            @for (int i = 1; i <= ViewBag.numberPage; i++)
                            {
                                if (ViewBag.CurrentPage == i)
                                {
                                    <li class="page-item active">
                                        <a class="page-link" href="/Home/Shop?p=@i">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="/Home/Shop?p=@i">@i</a>
                                    </li>
                                }
                            }
                            @if (ViewBag.CurrentPage == ViewBag.numberPage)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="/Home/Shop?p=@(ViewBag.CurrentPage)" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="/Home/Shop?p=@(ViewBag.CurrentPage + 1)" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            }
                        </ul>

                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>