/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

<<<<<<< HEAD
a.navbar-brand[b-ds50t2cars] {
=======
a.navbar-brand[b-e799wo500v] {
>>>>>>> 2ff597c (adđ all)
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

<<<<<<< HEAD
a[b-ds50t2cars] {
  color: #0077cc;
}
.img-logo[b-ds50t2cars]{
  width: 150px;
  height: 150px;
}
.btn-primary[b-ds50t2cars] {
=======
a[b-e799wo500v] {
  color: #0077cc;
}
.img-logo[b-e799wo500v]{
  width: 150px;
  height: 150px;
}
.btn-primary[b-e799wo500v] {
>>>>>>> 2ff597c (adđ all)
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

<<<<<<< HEAD
.nav-pills .nav-link.active[b-ds50t2cars], .nav-pills .show > .nav-link[b-ds50t2cars] {
=======
.nav-pills .nav-link.active[b-e799wo500v], .nav-pills .show > .nav-link[b-e799wo500v] {
>>>>>>> 2ff597c (adđ all)
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

<<<<<<< HEAD
.border-top[b-ds50t2cars] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ds50t2cars] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ds50t2cars] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ds50t2cars] {
=======
.border-top[b-e799wo500v] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-e799wo500v] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-e799wo500v] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-e799wo500v] {
>>>>>>> 2ff597c (adđ all)
  font-size: 1rem;
  line-height: inherit;
}

<<<<<<< HEAD
.footer[b-ds50t2cars] {
=======
.footer[b-e799wo500v] {
>>>>>>> 2ff597c (adđ all)
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
