@{
  Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<MvcWedBanDungCuHocTap.Models.Lop>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2>Mục Lớp</h2>

        </div>
        <div class="col-lg-6">
            <a href="/Admin/Lop/Create" class="btn border-primary text-white bg-primary mt-4"><i class="bi bi-plus-circle"></i>Thêm Mới</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-image">
                <thead>
                    <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên lớp</th>
                    <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var lop in Model)
                    {
                        <tr>
                            <td>@lop.Id</td>
                            <td>@lop.DoiTuongSP</td>
                            <td>
                                <a href="/Admin/Lop/Details/@lop.Id">Xem</a> |
                                <a href="/Admin/Lop/Edit/@lop.Id">Sửa</a> |
                                <a href="/Admin/Lop/Delete/@lop.Id">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
                </table>   
        </div>
    </div>
</div>